@use './variables.scss' as *;

@font-face {
    font-family: geist-sans;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(../assets/font/GeistVariableVF.woff2) format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: geist-sans, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    color: $color-text;
    background-color: $color-bg;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

// 滚动条样式
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 3px;

    &:hover {
        background-color: rgba(0, 0, 0, 0.25);
    }
}
